@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
}
.container {
  /* border: 1px solid red; */
  background-color: rgb(240, 238, 238);
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-weight: bold;
}
h2 {
  font-size: 17px;
  font-weight: 450;
}
h3 {
  margin-top: 6px;
  font-size: 12px;
  font-weight: 450;
}
p {
  color: green;
  font-size: 11px;
  margin: 2px 0;
}
h5 {
  margin-top: 2px;
  font-size: 10px;
  font-weight: normal;
  color: rgb(94, 92, 92);
}
h4 {
  font-size: 12px;
  font-weight: 550;
}
h6 {
  color: white;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
}

/* navbar css */
.navbar {
  color: rgb(199, 194, 194);
  display: flex;
  justify-content: space-evenly;
  background-color: #2874f0;
  height: 52px;
  width: 100%;
  align-items: center;
  padding: 12px;
}

.navbar-logo {
  width: 100px;
  padding: 5px 10px;
  margin-top: 18px;
  margin-left: 100px;
  font-size: 16px;
}
.explore {
  display: flex;
  width: 100px;
  padding-bottom: 10px;
}
.navbar-search {
  display: flex;
  background-color: #fff;
  align-items: center;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.navbar-search input {
  width: 500px;
  padding: 10px;
  height: 33px;
  border: none;
  outline: none;
}
.navbar-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 10px;
}
button {
  cursor: pointer;
}
.login {
  padding: 8px 25px;
  font-weight: 700;
  font-size: 13px;
  margin-left: 30px;
  color: #2874f0;
  outline: none;
}
.more,
.cart {
  background-color: #2874f0;
  border: none;
  color: white;
  font-weight: 650;
  font-size: 15px;
}
.view-btn {
  background-color: #2874f0;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: 550;
}

/* hero section css */
.image {
  margin: 0 15px;
  cursor: pointer;
}
.image img {
  width: 45px;
}
.hero {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 10px 2px;
  box-shadow: 0px 1px 2px 0 rgb(204, 203, 203);
  margin-bottom: 15px;
  padding-top: 20px;
}

.hero-header {
  display: flex;
  background-color: #fff;
  padding: 7px 90px;
  border-bottom: 1px solid rgb(238, 233, 233);
  align-items: center;
  justify-content: space-between;
  margin-right: -34rem;
}

.hero-section1 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 20px 0px;
  box-shadow: 0px 1px 1px 0 rgb(204, 203, 203);
  margin-bottom: 10px;
  height: 235px;
  position: relative;
}
.hero-section2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  padding: 20px 0px;
  box-shadow: 0px 1px 1px 0 rgb(204, 203, 203);
  margin-bottom: 20px;
}
.images img,
.pics img {
  cursor: pointer;
  max-height: 150px;
}
.images {
  padding: 0 10px;
  width: 160px;
  max-height: 200px;
  display: none;
  position: relative;
}

/* css for slider arrows */
#rightarrow,
#leftarrow {
  width: 30px;
  display: inline-block;
}
#leftarrow button,
#rightarrow button {
  font-size: 20px;
  font-weight: bold;
  height: 60px;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  width: 30px;
  box-shadow: 1px 2px 3px 1px rgb(216, 215, 215);
}
#leftarrow button:hover,
#rightarrow button:hover {
  background-color: rgb(247, 241, 241);
}
.pics {
  width: 140px;
}

/* css for dropdown menu */
.dropbtn {
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  color: black;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  font-size: 10px;
  border-bottom: 1px solid rgb(214, 214, 214);
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* css for advertisement */
.new-ad {
  margin-top: -3rem;
  box-shadow: 1px 2px 4px 0 rgb(150, 147, 147);
  width: 170px;
  background-color: rgb(248, 244, 244);
}
